<div class="container" *ngIf="!isAuthenticated">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">The coolest application for tracking reading times you'll ever use.</p> 
        <p class="text-center">
          <button class="btn btn-primary" (click)="oktaAuth.loginRedirect();">Log in</button>
        </p>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="isAuthenticated">
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn" (click)="oktaAuth.logout();">Log out</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <app-add-or-update-reading (readingCreated)="createOrUpdatereading($event)" [readingInfo]="currentReading"></app-add-or-update-reading>
      </div>
      <div class="col-md-8">
          <app-grid-reading [readingData]="readingData" (editClicked)="editClicked($event)" (newClicked)="newClicked()" (recordDeleted)="deleteClicked($event)"></app-grid-reading>
      </div>
    </div>
  </div>
  